//banner
.homeBanner {
  .imageDiv {
    background: black;
    overflow: hidden;
    .bannerImg {
      object-fit: cover;
      opacity: 0.4;
    }
  }
}

.aboutBannerHeader {
  .aboutBannerImg {
    position: absolute;
  }
}
.aboutBannerSec {
  color: white;
  position: relative;
  text-align: center;
}
//homeEmployers
.homeEmployers {
  .homeEmployersH2 {
    margin: 40px 0;
    text-align: center;
    color: #474c55;
  }
  .employersRow {
    margin: 25px 0;
    .bagImgCol {
      text-align: center;
      .employersImg {
        border-radius: 5px;
        max-width: 88%;
        background-color: rgb(236, 235, 235);
        padding: 10px;
      }
    }
    .employersContent {
      padding: 0;
      .employersH5 {
        color: #173753;
      }
      .employersPara {
        margin: 15px 0;
      }
    }
  }
}

//aboutMission section
.aboutMissionSec {
  margin-top: 5rem;
  .missionImgCol {
    margin: auto;
    .missionImg {
      max-width: 100%;
    }
    .missionImgVertical {
      max-width: 100%;
    }
  }
  .missionContent {
    margin: auto;
    .missionH1 {
      font-size: 22px;
      font-weight: 550;
      margin-top: 8px;
    }
    .missionPara {
      font-size: 15px;
      margin-top: 10px;
    }
  }
}

//aboutEmployers section
.aboutEmployersSec {
  margin-top: 5rem;
  .employersHeader {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin: 30px auto;
    .employerH1 {
      font-size: 32px;
      color: #474c55;
    }
  }
  .cardMain {
    margin: 24px 5px;
    border: 3px solid #f5f6f8;
    height: 295px;
    .cardImg {
      margin: 15px auto;
      max-width: 18%;
    }
    .cardContent {
      text-align: center;

      .cardTitle {
        margin-bottom: 10px;
        color: #333;
        font-weight: 600;
        font-size: 24px;
      }
      .cardText {
        margin: 20px 0;
        font-size: 14px;
      }
    }
  }
}

//aboutlocation
.aboutLocationSec {
  margin-top: 5rem;
  background-color: #f5f5f5;
  .locationImg {
    max-width: 100%;
    border-radius: 20px;
    margin-top: 40px;
  }
  .locationH1 {
    margin: 30px 0;
  }
  .locationPara {
    text-align: justify;
  }
}

//Resources page
//Training Resources
.trainingSec {
  .trainingCol {
    text-align: center;
    .trainingH1 {
      margin: 20px 0;
      color: #333;
    }
  }
  .trainingCard {
    border-radius: 15px;
    .trainingImg {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}

//interview Resources
.interviewSec {
  margin-top: 9rem;
  .interviewH1 {
    text-align: center;
    color: #474c55;
  }
  .interviewPara {
    text-align: center;
  }
  .interviewCard {
    margin-top: 4rem;
    border-radius: 15px;
    .interviewImg {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .interviewCardBody {
      height: 340px;
    }
  }
}
//media queries
@media only screen and (min-width: 320px) and (max-width: 350px) {
  .employers {
    .cardMain {
      height: 347px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .missionImg {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .employersRow {
    .bagImgCol {
      .employersImg {
        max-width: none;
      }
    }
  }
}
@media only screen and (min-width: 678px) and (max-width: 1000px) {
  .employersRow {
    .bagImgCol {
      .employersImg {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .employers {
    .cardMain {
      height: 420px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 2560px) {
  .missionImgVertical {
    display: none;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .employers {
    .cardMain {
      height: 350px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .trainingPara {
    margin: 1rem 18rem;
  }
}
