body {
  line-height: 20px;
  font-weight: 400;
}

#home-page .logo {
  height: 60px;
}

#home-page ul li a {
  color: black;
  font-weight: 500;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home-page ul li a:hover {
  color: #166433;
  background: none;
}

#home-page ul li .fa-solid {
  float: right;
  margin-left: 10px;
  margin-top: 4px;
  font-size: 1em;
  font-weight: 500px;
}

#home-page .header-button {
  border-color: #a67d2d;
  background-color: #a67d2d;
  border-radius: 5px;
  margin-left: 70px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#home-page .header-button:hover {
  background-color: #166433;
}

#home-page .header-button .btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-style: solid;
}

.Job {
  background-color: #f4f5f7;
  padding: 40px 0 70px 0;
}

.Job .candidates {
  border-radius: 10px;
}

.Job .candidates .Job-Seeker {
  margin-top: 10px;
}

.Job .candidates .Job-Seeker h5 {
  margin-top: 0px;
  color: #474c55;
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}

.Job .candidates .sub-btn {
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: #166433;
  border-radius: 5px;
  background-color: transparent;
  color: #166433;
  font-size: 16px;
  font-weight: 600;
}

.Job .candidates .sub-btn:hover {
  background-color: #013d01;
  color: white;
}

.Job .Learn {
  background-color: #ffd447;
  padding: 30px;
  border-radius: 10px;
}

.Job .Learn h5 {
  font-weight: 600;
}

.Job .Learn p {
  font-weight: 100;
}

.Job .access-btn {
  border-color: white;
  font-weight: 600;
  color: white;
}

.Job .access-btn:hover {
  background-color: white;
  color: yellow;
}

.Job .last-card {
  border-radius: 15px;
  background-image: url("../images/aboutUsHero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.Job .last-card h5 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

.Job .last-card p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.Job .last-card .text-field {
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
}

.Job .last-card .sign-up .signup-btn {
  margin-top: 20px;
  border-color: white;
  font-weight: 600;
  color: white;
}

.Job .last-card .sign-up .signup-btn:hover {
  background-color: white;
  color: yellow;
}

.homeEmployers .homeEmployersH2 {
  margin: 40px 0;
  text-align: center;
  color: #474c55;
}

.homeEmployers .employersRow {
  margin: 25px 0;
}

.homeEmployers .employersRow .bagImgCol {
  text-align: center;
}

.homeEmployers .employersRow .bagImgCol .employersImg {
  border-radius: 5px;
  max-width: 88%;
  background-color: #ecebeb;
  padding: 10px;
}

.homeEmployers .employersRow .employersContent {
  padding: 0;
}

.homeEmployers .employersRow .employersContent .employersH5 {
  color: #173753;
}

.homeEmployers .employersRow .employersContent .employersPara {
  margin: 15px 0;
}

.aboutMissionSec {
  margin-top: 5rem;
}

.aboutMissionSec .missionImgCol {
  margin: auto;
}

.aboutMissionSec .missionImgCol .missionImg {
  max-width: 100%;
}

.aboutMissionSec .missionImgCol .missionImgVertical {
  max-width: 100%;
}

.aboutMissionSec .missionContent {
  margin: auto;
}

.aboutMissionSec .missionContent .missionH1 {
  font-size: 22px;
  font-weight: 550;
  margin-top: 8px;
}

.aboutMissionSec .missionContent .missionPara {
  font-size: 15px;
  margin-top: 10px;
}

.employees .business-meet h1 {
  font-size: 32px;
}

.employees .business-meet img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100%;
}

.employees .contents .content-box p {
  margin-top: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-family: 'Roboto';
}

.carouselSlide {
  margin-top: 71px;
  background-color: black;
}

.carouselSlide .carouselInner {
  opacity: 0.4;
}

.Banner {
  margin-top: 71px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 41vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: #fff;
}

.Banner .row {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.Banner .row h1 {
  text-align: center;
  margin-top: 86px;
  font-size: 66px;
  font-weight: 600;
}

.contact-banner {
  background-image: url("../images/resourcesHero.jpg");
}

.about-banner {
  background-image: url("../images/bannerImages/aboutBanner.png");
}

.resources-banner {
  background-image: url("../images/bannerImages/aboutBanner.png");
}

.jobs-banner {
  background-image: url("../images/jobs_banner.jpg");
  background-position: 50% 50%;
}

#carousel-section {
  background-color: #f4f5f7;
  margin-top: 80px;
}

#carousel-section .our-values-title {
  color: #474c55;
  font-size: 32px;
  margin-bottom: 50px;
  padding-top: 50px;
}

#carousel-section .row .owl-theme {
  margin-bottom: 50px;
}

#carousel-section .row .owl-theme .card {
  border-top: 3px solid #166433;
  border-radius: 8px;
}

#carousel-section .row .owl-theme .card img {
  height: 40px;
  margin: 37px -138px;
  padding-left: 36px;
}

#carousel-section .row .owl-theme .card .card-body {
  padding-top: 0px;
}

#carousel-section .row .owl-theme .card .card-body .card-title {
  font-size: 22px;
  font-weight: 430;
  margin-left: 3px;
}

#carousel-section .row .owl-theme .card .card-body .card-text {
  font-size: 15px;
  margin-left: 3px;
}

.aboutEmployersSec {
  margin-top: 5rem;
}

.aboutEmployersSec .employersHeader {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin: 30px auto;
}

.aboutEmployersSec .employersHeader .employerH1 {
  font-size: 32px;
  color: #474c55;
}

.aboutEmployersSec .cardMain {
  margin: 24px 5px;
  border: 3px solid #f5f6f8;
  height: 295px;
}

.aboutEmployersSec .cardMain .cardImg {
  margin: 15px auto;
  max-width: 18%;
}

.aboutEmployersSec .cardMain .cardContent {
  text-align: center;
}

.aboutEmployersSec .cardMain .cardContent .cardTitle {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
}

.aboutEmployersSec .cardMain .cardContent .cardText {
  margin: 20px 0;
  font-size: 14px;
}

.aboutLocationSec {
  margin-top: 5rem;
  background-color: #f5f5f5;
}

.aboutLocationSec .locationImg {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 40px;
}

.aboutLocationSec .locationH1 {
  margin: 30px 0;
}

.aboutLocationSec .locationPara {
  text-align: justify;
}

.trending-jobs {
  background-color: white;
}

.trending-jobs h2 {
  margin-left: 100px;
  margin-bottom: 80px;
}

.trending-jobs a {
  float: right;
}

.trending-jobs .candidates {
  border: none;
  border-radius: 40px;
  border-bottom: 2px solid #f4f4f4;
}

.trending-jobs .candidates:hover {
  background-color: #f4f4f4;
}

.trending-jobs .candidates img {
  padding: 20px;
  margin-left: 20px;
  border-radius: 76px;
}

.trending-jobs .candidates .senior-product h5 {
  font-size: 18px;
}

.trending-jobs .candidates .senior-product p {
  font-size: 18px;
}

.trending-jobs .candidates .cardLInk {
  text-decoration: none;
  color: black;
}

.faq {
  background-color: #f4f4f4;
}

.faq #accordionSection {
  margin-bottom: 100px;
}

.faq .accordion-button {
  color: #173753;
  font-size: 18px;
  border-width: 0;
}

.faq .accordion-button.collapsed {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: white;
}

.faq .accordion-button:not(.collapsed) {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  color: black;
  background-color: white;
}

.faq .accordion-button:focus {
  border: none;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.faq .accordion-collapse {
  border: solid rgba(0, 0, 0, 0.125);
  border-width: 0px 0px;
}

.faq .accordion-body {
  background: #fff;
  font-size: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.faq .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.product {
  margin-top: 120px;
}

.product .page {
  background-color: white;
}

.product .page:hover {
  background-color: white;
  border-radius: 20px;
}

.product .page .job-page {
  margin-left: 20px;
}

.product .page .job-page .in-page img {
  border-radius: 76px;
  margin-top: 30px;
}

.product .page .job-page a {
  margin-bottom: 20px;
  color: darkgreen;
  font-weight: 400;
  font-size: 15px;
  border-color: darkgreen;
}

.product .page .job-page a:hover {
  color: white;
  background-color: darkgreen;
}

.trainingSec .trainingCol {
  text-align: center;
}

.trainingSec .trainingCol .trainingH1 {
  margin: 20px 0;
  color: #333;
}

.trainingSec .trainingCard {
  border-radius: 15px;
}

.trainingSec .trainingCard .trainingImg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.interviewSec {
  margin-top: 9rem;
}

.interviewSec .interviewH1 {
  text-align: center;
  color: #474c55;
}

.interviewSec .interviewPara {
  text-align: center;
}

.interviewSec .interviewCard {
  margin-top: 4rem;
  border-radius: 15px;
}

.interviewSec .interviewCard .interviewImg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.interviewSec .interviewCard .interviewCardBody {
  height: 340px;
}

#contact-card-section {
  margin-top: 100px;
}

#contact-card-section .card {
  padding: 10px 26px;
  border-radius: 12px;
  background-color: #f4f4f4;
  min-height: 200px;
  margin-bottom: 60px;
}

#contact-card-section .card .topContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact-card-section .card .topContent h2 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
  margin: 19px;
}

#contact-card-section .card p {
  font-size: 15px;
  padding: 5px;
}

.timelineMain {
  position: relative;
}

.timelineMain .timeline::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  right: -23px;
  background-color: #f0f0f0;
  border: 10px solid #a67d2d;
  top: 77px;
  border-radius: 50%;
  z-index: 1;
}

.timelineMain::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #a67d2d;
  top: 84px;
  bottom: 150px;
  left: 50%;
  margin-left: -3px;
}

.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timelineLeft {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.timelineRight {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.cardSec {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: none;
}

.cardSec .timelineH6 {
  color: darkgreen;
  font-weight: bold;
  font-size: 15px;
}

.cardSec .timelineH5 {
  margin: 25px 0;
}

.cardSec .timelinePara {
  margin-bottom: 10px;
}

.timelineRight::after {
  left: -23px;
}

.black-footer {
  background-color: #231f20;
  color: #fff;
  margin-top: 60px;
}

.black-footer .top-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.black-footer .top-footer .footer-brand {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 60px;
}

.black-footer .top-footer .footer-brand .img-fluid {
  max-width: 100px;
  height: auto;
  border-radius: 50px;
}

.black-footer .social {
  text-align: center;
  margin-top: 30px;
}

.black-footer .social h4 {
  font-weight: 600;
  margin-bottom: 13px;
  font-size: 22px;
}

.black-footer .social .social-icons {
  margin-bottom: 36px;
}

.black-footer .social .social-icons .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.black-footer .social .social-icons .fa:hover {
  background: #885c2b;
}

.black-footer .social .social-icons .style {
  padding: 13px;
  background: #32353b;
  text-align: center;
  height: 50px;
  width: 50px;
  margin: 4px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

.black-footer .bottom-footer .bottom-footer-content {
  margin-top: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
}

.black-footer .bottom-footer .bottom-footer-content h4 {
  font-size: 14px;
  font-weight: 400;
}

.black-footer .bottom-footer .bottom-footer-content .privacy-link {
  color: #fff;
  text-decoration: none;
}

#contact-form .container {
  max-width: 832px;
}

#contact-form .container .get-in-touch {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#contact-form .container .get-in-touch h2 {
  color: #474c55;
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}

#contact-form .container .get-in-touch p {
  color: #333;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 26px;
}

#contact-form .form-control {
  margin: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 13px;
}

#contact-form .site-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #166433;
  border-radius: 5px;
  background-color: transparent;
  color: #166433;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#contact-form .site-btn:hover {
  color: #fff;
  background-color: #166433;
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .employers .cardMain {
    height: 347px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .missionImg {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .employersRow .bagImgCol .employersImg {
    max-width: none;
  }
}

@media only screen and (min-width: 678px) and (max-width: 1000px) {
  .employersRow .bagImgCol .employersImg {
    max-width: 100%;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .employers .cardMain {
    height: 420px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 2560px) {
  .missionImgVertical {
    display: none;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .employers .cardMain {
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .trainingPara {
    margin: 1rem 18rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #home-page ul li .resource {
    margin-left: -23px;
  }
  #home-page .header-button {
    margin-left: 2px;
    margin-right: 199px;
    margin-top: 10px;
  }
  .Banner {
    min-height: 30vh;
  }
  .Banner .row h1 {
    margin-top: 56px;
    font-size: 29px;
  }
  #carousel-section .row .owl-theme .card img {
    margin: 37px -108px;
  }
  #contact-card-section .card {
    min-height: 200px;
  }
  #contact-card-section .card .topContent h2 {
    font-size: 18px;
  }
  #contact-form .row {
    max-width: 100%;
  }
  #contact-form .row .form-control {
    padding: 8px;
    font-size: 13px;
  }
  .bottom-footer .bottom-footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .bottom-footer .bottom-footer-content h4 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  #home-page .header-button {
    margin-right: 254px;
  }
  #carousel-section .row .owl-theme .card img {
    margin: 37px -135px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  #home-page .header-button {
    margin-right: 304px;
  }
  #carousel-section .row .owl-theme .card img {
    margin: 37px -160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #home-page ul li .resource {
    margin-left: -25px;
  }
  #home-page .header-button {
    margin-left: -2px;
    margin-right: 608px;
    margin-top: 10px;
  }
  .Banner .row h1 {
    margin-top: 75px;
    font-size: 44px;
  }
  #contact-card-section .card {
    padding: 16px;
    min-height: 215px;
  }
  #contact-card-section .card .topContent img {
    max-width: 25px;
  }
  #contact-card-section .card .topContent h2 {
    font-size: 14px;
  }
  #contact-card-section .card p {
    font-size: 13px;
  }
  #contact-form .row {
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #contact-card-section .card .topContent h2 {
    font-size: 18px;
  }
  #carousel-section .row .owl-theme .card img {
    margin: 37px -101px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .Banner .row h1 {
    margin-top: 112px;
  }
  #carousel-section .row .owl-theme .card {
    min-height: 215px;
  }
  #carousel-section .row .owl-theme .card img {
    margin: 37px -158px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .product-designer .candidates {
    width: auto;
    height: auto;
  }
  .product-designer .candidates img {
    width: 100px;
    height: 100px;
    display: block;
  }
  .product-designer .candidates .senior-product h5 {
    font-size: 15px;
  }
  .product-designer .candidates .senior-product p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-designer .candidates {
    width: auto;
    height: auto;
  }
  .product-designer .candidates img {
    width: 100px;
    height: 100px;
    display: block;
  }
  .product-designer .candidates .senior-product h5 {
    font-size: 16px;
  }
  .product-designer .candidates .senior-product p {
    font-size: 12px;
  }
  .product .page .job-page .in-page {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Job .candidates {
    padding: 0px;
    margin-top: 20px;
  }
  .Job .candidates .Job-Seeker h5 {
    font-weight: 700;
    text-align: center;
  }
  .Job .candidates .Job-Seeker p {
    text-align: center;
  }
  .Job .candidates .sub-btn {
    margin: auto;
    display: table;
  }
  .Job .candidates .icon img {
    width: 40%;
    margin: auto;
    display: block;
  }
  .Job .Learn {
    padding: 0px;
    border-radius: 10px;
  }
  .Job .Learn h5 {
    padding: 0px;
    font-size: 24px;
    text-align: center;
  }
  .Job .Learn p {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    font-weight: 100;
  }
  .Job .Learn .access-btn {
    margin: auto;
    display: table;
  }
  .Job .Learn .icon img {
    width: 40%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }
  .Job .last-card {
    margin-top: 20px;
  }
  .Job .last-card h5 {
    text-align: center;
  }
  .Job .last-card p {
    text-align: center;
  }
  .Job .sign-up .signup-btn {
    margin: auto;
    display: table;
  }
  .product {
    padding: 0px;
  }
  .product .page {
    background-color: #f4f4f4;
  }
  .product .page .job-page .in-page {
    margin-bottom: 0px;
  }
  .product .page .job-page .in-page img {
    width: 100px;
    height: 100px;
  }
  .product .page .job-page .inner-content h5 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .Job .candidates {
    margin-top: 20px;
  }
  .Job .candidates .Job-Seeker h5 {
    font-weight: 600;
    font-size: 35px;
  }
  .Job .last-card {
    margin-top: 20px;
  }
  .product .page .job-page .in-page {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .Job .candidates {
    height: 400px;
  }
  .Job .candidates .Job-Seeker h5 {
    font-size: 22px;
  }
  .Job .Learn {
    height: 320px;
  }
  .Job .last-card {
    margin-top: 0px;
    height: 320px;
  }
}

@media screen and (max-width: 600px) {
  .timelineMain::after {
    left: 31px;
  }
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .timelineLeft::after,
  .timelineRight::after {
    left: 10px;
  }
  .timelineLeft::before {
    right: auto;
  }
  .timelineRight {
    left: 0%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .timelineRight::after {
    left: 9px;
  }
  .timelineMain::after {
    bottom: 263px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 700px) {
  .timelineMain::after {
    content: '';
    bottom: 212px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .timelineMain::after {
    content: '';
    bottom: 169px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
  .timelineMain::after {
    content: '';
    bottom: 121px;
  }
}
/*# sourceMappingURL=style.css.map */